body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.header {
	background-color: rgba(255,255,255,0.75);
}
.content {
	width: 1170px;
	margin:0 auto;
}
[class*=col-md] {
	float: left;
}
.content:after {
	content: "";
	clear: both;
	display: block;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}